.bg-light {
	background: #eeebec !important;
}
#header {
	background-color: #eeebec;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
/* #header div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 41px 10px 27px;
} */
.navbar-brand {
	padding-top: unset !important;
	margin-right: unset !important;
}
#header div a.logo {
	float: left;
	margin: 0 0 0 29px;
	padding: 0;
	width: auto;
}
#header div a.logo img {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
/* #header div ul {
	display: inline-block;
	float: right;
	list-style: none outside none;
	margin: 0 auto;
	padding: 17px 0 0;
	text-align: center;
	width: 513px;
} */
/* #header div ul li {
	display: inline-block;
	float: left; 
	margin: 0 35px;
	padding: 0;
	position: relative;
	width: auto;
} */
li.nav-item {
	padding-left: 15px;
	padding-right: 15px;
}
#header div ul li a {
	color: #7a6666;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #cb3362;
}
#header div ul li a:hover, #header div ul li.menu:hover ul li a {
	color: #c8c10d;
}
#header div ul li ul li a {
	color: #cb3362;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
#header div ul li.menu {
	min-height: 35px;
	z-index: 80;
}
#header div ul li.menu ul {
	display: block;
	float: none;
	left: -99999px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 24px;
	width: 106px;
	z-index: 90;
}
#header div ul li.menu:hover ul.primary, #header div ul li.menu ul#selected.primary {
	left: -30px;
}
#header div ul li.menu:hover ul.secondary, #header div ul li.menu ul#selected.secondary {
	left: -27px;
}
#header div ul li.menu ul li {
	float: none;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 990px) {
	li.nav-item {
		padding-bottom: 17px;
	}
	.navbar-nav {
		border-top: 1px solid #ddd;
    	padding-top: 15px;
    	margin-top:  15px;
	}
}